body {
    background-color: lightskyblue;
        opacity: 0.7;
    }

h1 {color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 50px;
}

h2 {color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 50px;
}

p {color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 50px;
    line-height: 150%
}
        
img {
    height: 300px;
    width: 500px;
    margin-left: 100px;
}

label {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 50px;
    line-height: 200%;
}

button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 300px;
}